# about manuscript
*/*.aux
*/*.dbj
*/*.bbl
*/*.bcf
*/*.blg
*/*.idx
*/*.ind
*/*.ilg
*/*.log
*/*.toc
*/*.xml
*/*.zip
*/*.out
*/*.swp
manuscript/*.pdf
manuscript/.texpadtmp/
*/*.synctex.gz
*/*.fff
*/*.ttt
*/*.fdb_latexmk
*/*.fls
*/*.html


# about code
code/*.m
code/*.mexw64

.Rhistory

**/.DS_Store
.RData
.gitignore
